<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      BEEQUIP lease calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">BEEQUIP lease calculator</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>

  <ion-item>
    <ion-label>Categorie</ion-label>
    <ion-select [(ngModel)]="category">
      <ion-select-option *ngFor="let cat of categoryGroups" value={{cat.id}}>{{cat.name}}</ion-select-option>
    </ion-select>
  </ion-item>


  <ion-radio-group [(ngModel)]="usedOrNew">
    <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Nieuw</ion-label>
        <ion-radio  item-left value="NEW" ></ion-radio>
      </ion-item>
    </ion-col>

    <ion-col>
      <ion-item>
        <ion-label>Gebruikt</ion-label>
        <ion-radio item-left value="USED"></ion-radio>
      </ion-item>
    </ion-col>
    </ion-row>
  </ion-radio-group>

    <ion-item>
      <ion-label stacked>Looptijd in maanden</ion-label>
      <ion-input type="number" min="36" max="120" steps="1" text-right id="tenor" [(ngModel)]="tenor"></ion-input>
      <ion-range min="36" max="120" steps="1" snaps="true" color="secondary"  [(ngModel)]="tenor"></ion-range>
    </ion-item>

    <ion-item>
      <ion-label stacked>Aanschafwaarde</ion-label>
      <ion-input type="number" min="15000" max="100000" steps="1000" text-right id="purchase-price" [(ngModel)]="purchasePrice"></ion-input>
      <ion-range min="15000" max="100000" step="1000" snaps="true" color="secondary"  [(ngModel)]="purchasePrice"></ion-range>
    </ion-item>



    <ion-item>
      <ion-label stacked>Aanbetaling</ion-label>
      <ion-input type="number" min="1000" max="100000" steps="1000" text-right id="down-payment" [(ngModel)]="downPayment"></ion-input>
      <ion-range min="1000" max="100000" step="1000" snaps="true" color="secondary"  [(ngModel)]="downPayment"></ion-range>
    </ion-item>



    <ion-item>
      <ion-label stacked>Slottermijn</ion-label>
      <ion-input type="number" min="1" max="100000" steps="1000" text-right id="balloon-payment" [(ngModel)]="balloonPayment"></ion-input>
      <ion-range min="1" max="100000" step="1000" snaps="true" color="secondary"  [(ngModel)]="balloonPayment"></ion-range>
    </ion-item>

    <ion-button (click) ="calculate()">Calculate</ion-button>

  </ion-list>


  <ion-item>
  <ion-text >
  {{calculation}}
  </ion-text>
  </ion-item>
  <ion-item>
  <ion-text >
    {{boundaries}}
  </ion-text>
  </ion-item>


</ion-content>

